/* #region Icons  */
[class^="icon-"],
[class*=" icon-"] {
  display: inline-block;

  stroke-width: 0;
  stroke: currentColor;
  fill: currentColor;
}

/* ==========================================
Single-colored icons can be modified like so:
.icon-name {
  font-size: 32px;
  color: red;
}
========================================== */

.icon-icon1 {
  width: 2.357421875em;
}

.icon-icon2 {
  width: 2.357421875em;
}

.icon-icon3 {
  width: 2.357421875em;
}

.icon-icon4 {
  width: 2.357421875em;
}

/* #endregion Icons */

/* #region ROOT & GLOBAL */
:root {
  --iris: #4d5ae5;
  --ocean: #404bbf;
  --navy-blue: #2e2f42;
  --green: #31d0aa;
  --slate: #434455;
  --light-slate: #8e8f99;
  --cornflower: #e7e9fc;
  --cloud: #f4f4fd;
  --navy-blue-modal: rgba(46, 47, 66, 0.4);
  --grey: rgba(46, 47, 66, 0.7);
  --white: #fff;
  --dairy: #fcfcfc;

  --font-family: "Roboto", sans-serif;
  --second-family: "Raleway", sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: var(--font-family);
  color: var(--slate);
  background-color: var(--white);
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-top: 0;
  margin-bottom: 0;
}

ul,
ol {
  list-style-type: none;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/* #endregion ROOT & GLOBAL */

/* #region UTILITY CLASSES */
.container {
  width: 100%;
  max-width: 1158px;
  margin: 0 auto;
  padding: 0 15px;
}

.section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
/* #endregion UTILITY CLASSES */

/* #region HEADER */
.header {
  border-bottom: 1px solid var(--cornflower);
  background-color: var(--white);
  box-shadow:
    0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 70px;
}

.header-nav {
  display: flex;
  align-items: center;
  gap: 76px;
}

.logo {
  font-family: var(--second-family);
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--navy-blue);
  padding: 24px 0;
}

.logo-accent {
  color: var(--iris);
}

.nav-list {
  display: flex;
  gap: 40px;
}

.nav-link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
  padding: 24px 0;
  display: block;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:hover,
.nav-link:focus {
  color: var(--ocean);
}
.nav-link.studio {
  color: var(--ocean);
}

.nav-link.studio::after {
  content: "";
  position: absolute;
  bottom: -1px;
  left: 0;
  border-radius: 2px;
  width: 100%;
  height: 4px;
  background: #404bbf;
}

.contact-list ul {
  display: flex;
  gap: 40px;
}

.contact-link {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
  font-style: normal;
  padding: 24px 0;
  display: block;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-link:hover,
.contact-link:focus {
  color: var(--ocean);
}
/* #endregion HEADER */

/* #region HERO SECTION */
.section-hero {
  max-width: 1440px;
  margin: 0 auto;
  background-image:
    linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url(../images/hero-image.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--navy-blue);
  padding-top: 188px;
  padding-bottom: 188px;
  text-align: center;
  background-position: center;
}

.hero-title {
  font-weight: 700;
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--white);
  max-width: 496px;
  margin: 0 auto 48px;
}

.button-primary {
  cursor: pointer;
  background-color: var(--iris);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--white);
  border: none;
  border-radius: 4px;
  padding: 16px 32px;
  min-width: 169px;
  height: 56px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-primary:hover,
.button-primary:focus {
  background-color: var(--ocean);
}
/* #endregion HERO SECTION */

/* #region FEATURES SECTION */

.features-list {
  display: flex;
  flex-wrap: nowrap;
  gap: 24px;
  justify-content: center;
}

.features-item {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 112px;
  width: 264px;
  border: 1px solid var(--light-slate);
  border-radius: 4px;
  background: var(--cloud);
  margin-bottom: 8px;
}

.item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
  margin-bottom: 8px;
}

.features-icons {
  width: 64px;
  height: 64px;
  display: block;
  margin: 0;
}

.item-box {
  align-items: flex-start;
  text-align: left;
  flex-direction: column;
  display: flex;
}

.item-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
}
/* #endregion FEATURES SECTION */

/* #region TEAM SECTION */
.team {
  background-color: var(--cloud);
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--navy-blue);
  text-transform: capitalize;
  margin-bottom: 72px;
}

.team-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.team-card {
  background-color: var(--white);
  flex-basis: calc((100% - 72px) / 4);
  border-radius: 0 0 4px 4px;
  box-shadow:
    0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 1px 6px 0 rgba(46, 47, 66, 0.08);
  overflow: hidden;
}

.card-content {
  padding: 32px 16px;
  text-align: center;
}

.card-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--navy-blue);
  margin-bottom: 8px;
}

.card-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--slate);
  margin-bottom: 8px;
}

.social-links {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 24px;
}

.social-link {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: var(--iris);
  width: 40px;
  height: 40px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icons {
  fill: var(--cloud);
}

.social-link:hover,
.social-link:focus {
  background-color: var(--ocean);
}
/* #endregion TEAM SECTION */

/* #region PORTFOLIO SECTION */
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 24px;
}

.overlay-box {
  position: relative;
  overflow: hidden;
}

.overlay {
  font: 400 16px / 1.5 var(--font-family);
  letter-spacing: 0.02em;
  color: var(--cloud);
  padding: 40px 32px;
  background-color: var(--iris);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-card:hover .overlay {
  transform: translateY(0);
}

.portfolio-card {
  flex-basis: calc((100% - 48px) / 3);
  background: var(--white);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-card:hover {
  box-shadow:
    0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16),
    0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.portfolio-card .card-content {
  padding: 32px 16px;
  border: 1px solid var(--cornflower);
  border-top: none;
  text-align: left;
}
/* #endregion PORTFOLIO SECTION */

/* #region FOOTER */
.footer {
  background-color: var(--navy-blue);
  padding-top: 100px;
  padding-bottom: 100px;
}

.footer .container {
  display: flex;
  align-items: baseline;
}

.footer-content {
  display: flex;
  gap: 120px;
  margin-right: 80px;
}

.footer-description {
  width: 264px;
}

.logo-footer {
  color: var(--cloud);
  display: inline-block;
  margin-bottom: 16px;
  padding: 0;
}

.footer-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--cloud);
  max-width: 264px;
}

.footer-social {
  width: 208px;
}

.social-media-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--white);
  margin-bottom: 16px;
}

.footer .social-links {
  gap: 16px;
}

.footer .social-link:hover,
.footer .social-link:focus {
  background-color: var(--green);
}

.subscribe-part {
  display: flex;
}
.label-wrapper {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding-right: 24px;
}
.subscribe {
  display: block;
  font:
    500 16px / 1.5 "Roboto",
    sans-serif;
  letter-spacing: 0.02em;
  color: #fff;
}
.e-sub {
  display: block;
  border: 1px solid #fff;
  border-radius: 4px;
  width: 264px;
  height: 40px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  font:
    400 12px / 2 "Roboto",
    sans-serif;
  letter-spacing: 0.04em;
  color: #fff;
  background-color: transparent;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.e-sub:hover,
.e-sub:focus {
  border-color: var(--green);
}
.sub-btn {
  display: flex;
  align-items: flex-start;
  margin-top: auto;
  padding: auto;
  gap: 16px;
  border-radius: 4px;
  padding: 8px 24px;
  width: 165px;
  height: 40px;
  background: #4d5ae5;
  font:
    500 16px / 1.5 "Roboto",
    sans-serif;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  fill: #fff;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.sub-btn:hover,
.sub-btn:focus {
  background-color: var(--green);
}
/* #endregion FOOTER */

/* #region backdrop */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--navy-blue-modal);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}
body:has(.backdrop.is-open) {
  overflow: hidden;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 4px;
  width: 408px;
  min-height: 584px;
  box-shadow:
    0 1px 1px 0 rgba(0, 0, 0, 0.14),
    0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background: var(--dairy);
}

.modal-close-btn {
  position: absolute;
  top: 16px;
  right: 16px;
  background: var(--cornflower);
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-close-btn:hover,
.modal-close-btn:focus {
  fill: #fff;
  background: var(--ocean);
  border-radius: 100%;
}
.mdl-par {
  font:
    500 16px / 1.5 "Roboto",
    sans-serif;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--navy-blue);
  display: flex;
  margin: 72px 24px 16px 24px;
}
.label-form {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-direction: column;
  gap: 8px;
  border-radius: 4px;
  width: 360px;
  height: 336px;
  margin: auto;
}

.name-input:hover,
.name-input:focus + .icon-phone {
  fill: var(--iris);
}
.name-input:hover,
.name-input:focus + .icon-email {
  fill: var(--iris);
}
.name-input:hover,
.name-input:focus + .icon-person {
  fill: var(--iris);
}
.name-label {
  font:
    400 12px / 1.16667 "Roboto",
    sans-serif;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: block;
  margin-bottom: 4px;
}
.name-wrapper {
  margin-bottom: 8px;
}
.name-input {
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 360px;
  height: 40px;
  padding-left: 38px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-person {
  position: absolute;
  top: 138px;
  left: 40px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-phone {
  position: absolute;
  top: 204px;
  left: 40px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-email {
  position: absolute;
  top: 270px;
  left: 40px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.text-input {
  font:
    400 12px / 1.16 "Roboto",
    sans-serif;
  letter-spacing: 0.04em;
  color: rgba(46, 47, 66, 0.4);
  padding-left: 16px;
  padding-top: 8px;
}
.text-wrapper {
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  resize: none;
  width: 360px;
  height: 120px;
}
.hidden-checkbox {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}
.custom-checkbox {
  display: flex;
  align-items: center;
  gap: 8px;
}
.checkbox-visual {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 16px;
  height: 16px;
  border-radius: 2px;
  border: 1px solid rgba(46, 47, 66, 0.4);
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.checkb-wrapper {
  display: flex;
  flex-direction: row;
  gap: 8px;
}
.hidden-checkbox:checked + .checkbox-visual .check-icon {
  display: block;
  border-radius: 2px;
  background-color: var(--ocean);
  border: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.hidden-checkbox:checked + .checkbox-visual {
  background-color: var(--ocean);
  border: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.check-icon {
  display: none;
  width: 10px;
  height: 8px;
  fill: var(--cloud);
}
.policy-txt {
  font:
    400 12px / 1.16 "Roboto",
    sans-serif;
  letter-spacing: 0.04em;
  color: var(--light-slate);
}
.policy {
  font:
    400 12px / 1.33 "Roboto",
    sans-serif;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: var(--iris);
}
.modal-button {
  display: flex;
  align-items: flex-start;
  justify-content: space-around;
  cursor: pointer;
  border-radius: 4px;
  padding: 16px 32px;
  width: 169px;
  height: 56px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: var(--iris);
  font:
    500 16px / 1.5 "Roboto",
    sans-serif;
  letter-spacing: 0.04em;
  color: #fff;
  display: flex;
  padding: 16px 32px;
  position: absolute;
  left: 119px;
  bottom: 24px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-button:hover,
.modal-button:focus {
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  background: var(--ocean);
}
/* #endregion */
